@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.box {
  padding: 2% 9%;
}

.container {
  
  padding: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
}

input[type=text]{
    width: 500px;
    height: 50px;    
    padding: 30px;
}