<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>RoV</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= '/css/' + 'style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- Demo styles -->
  <style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #17142b">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3 class="text-white">ROV</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rulec">กฎกติกา</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schedulec">ตารางการแข่งขัน</a>
          </li> {% if logged_in %}
          <!-- ถ้าเข้าสู่ระบบแล้ว (logged_in เป็น True) -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-2" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> จัดการข้อมูล </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/school">School</a>
              <a class="dropdown-item" href="/teamad">Team</a>
              <a class="dropdown-item" href="/teammem">Player</a>
              <a class="dropdown-item" href="/hero">Hero</a>
              <a class="dropdown-item" href="/upload">ข้อมูลการแข่งขัน</a>
              <a class="dropdown-item" href="/rule">กฎกติกา</a>
              <a class="dropdown-item" href="/schedule">ตารางการแข่งขัน</a>
              <a class="dropdown-item" href="/report">รายงาน</a>
            </div>
          </li> {% endif %}
          <!-- ... รายการเมนูอื่น ๆ ... --> {% if logged_in %}
          <!-- ถ้าเข้าสู่ระบบแล้ว (logged_in เป็น True) -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;">
              <img src="/static/img/login.jpg" width="40px"
                style="border: solid 2px rgb(3, 245, 225); border-radius: 30px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <!-- ใช้ id="logout-link" เพื่อระบุให้ JavaScript ทำงานกับปุ่ม Logout -->
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="javascript:void(0);" onclick="showLogoutConfirmation();"> log out </a>
            </div>
          </li> {% else %}
          <!-- ถ้ายังไม่ได้เข้าสู่ระบบ (logged_in เป็น False) -->
          <li>
            <a class="nav-link" href="/login"><i class="fa-solid fa-user fa-xl"></i></a>
          </li> {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin: 10px;">
    <h4>ตารางการแข่งขัน</h4>
    <div class="border-top my-2"></div>
    <div style="background-color: rgb(255, 255, 255);padding: 20px; border-radius: 10px;"> {% if filenames %}
      <!-- Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper"> {% for filename in filenames %} <div class="swiper-slide">
            <img src="{{ url_for('static', filename='img/' + filename) }}" alt="Slide {{ loop.index }}" width="100%">
          </div> {% endfor %} </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- End Swiper -->
    </div> {% else %} <div
      style="text-align: center; height: 200px; display: flex; justify-content: center; align-items: center; background-color: rgb(255, 255, 255); border-radius: 10px;">
      <p style="font-size: 20px;">ไม่พบข้อมูล</p>
    </div> {% endif %}
  </div>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
  <script src="sweetAlert.js"></script>
  <script src="../static/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>

</html>